* {
    font-family: 'Poppins', sans-serif;
}

.landing {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0;
    align-items: center;
    width: 100%;
    height: 100%;
}

.landing .feed {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
}