* {
    font-family: 'Poppins', sans-serif;
}

.landing {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0;
    align-items: center;
    width: 100%;
    height: 100%;
}

.landing .feed {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 7%;
    margin-top: 5%;
}

.container .prev::before {
    content: '\02C2';

}

.container .next::before {
    content: '\02C3';
    
}