form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form div input {
    width: 47.5%;
}

form input,
form textarea {
    background-color: #f0f0f5;
    border-radius: 8px;
    border: 0px;
    padding: 8px 16px;
    margin-bottom: 2.5%;
    font-size: 14px;
    color: #6c6c80;
    box-sizing: border-box;
}

form input:focus {
    outline: none;
}

form .bio {
    min-height: 75px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
}

form button {
    align-self: center;
    height: 40px;
    width: 70%;
    border: 0px;
    color: #f0f0f5;
    background-color: #34cb79;
    border-radius: 8px;
    transition: 0.8s;
    font-size: medium;
}

form button:hover {
    opacity: 0.75;
    cursor: pointer;
}

form button:focus,
form textarea:focus  {
    outline: none;
    opacity: 1;
}

@media (max-width: 800px) {
    form {
        width: 90%;
    }
}