* {
  margin: 0;
}

.cardComponent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  margin-top: 2.5%;
  width: 50%;
  box-sizing: border-box;
  background-color: #f0f0f5;
  padding: 2.5%;
}

.cardComponent img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border: 2px solid #923ea3;
  transition: transform 0.5s;
}

.cardComponent .text {
  display: flex;
  height: 90%;
  flex-direction: column;
  width: 60%;
  margin: 2.5% 0;
}

.cardComponent a {
  text-decoration: none;
  color: #923ea3;
  width: 0%;
}

.cardComponent .text button {
  margin: 2.5% 0;
  background-color: #923ea3;
  border: 0;
  border-radius: 8px;
  color: #f0f0f5;
  padding: 1.5%;
  width: 30%;
  transition: 0.8s;
}

.cardComponent .text button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.cardComponent .text button:focus {
  outline: none;
}

.cardComponent .text p {
  display: none;
  min-height: 80px;
}

@media (max-width: 900px) {
  .cardComponent {
    width: 90%;
  }
  .cardComponent img {
    width: 17vw;
    height: 17vw;
  }
  .cardComponent .text h1 {
    font-size: 15px;
  }
  .cardComponent .text h2,
  .cardComponent .text a {
    font-size: 12px;
  }
  .cardComponent .text p {
    font-size: 10px;
    text-align: justify;
    margin-bottom: 2.5%;
  }
  .cardComponent .text button {
    width: 40%;
    font-size: 10px;
  }
}
