* {
    margin: 0;
}

.cardComponent {
    align-items: center;
    display: flex;
    background-color: #f0f0f5;
    border: 2px solid rgb(111, 2, 158);
    border-radius: 8px;
    margin-top: 2.5%;
    justify-content: space-evenly;
    padding: 0 0.3%;
    width: 60%;
}

.cardComponent img {
    border-radius: 50%;
    width: 17%;
    border: 4px solid rgb(111, 2, 158);
}

.cardComponent .text {
    display: flex;
    height: 90%;
    flex-direction: column;
    width: 60%;
    margin: 2.5% 0;
}

.cardComponent .text button {
    margin: 2.5% 0;
    background-color: rgb(111, 2, 158);
    border-radius: 8px;
    color: #f0f0f5;
    padding: 1.5%;
    width: 30%;
    transition: 0.8s;
}

.cardComponent .text button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.cardComponent .text p {
    display: none;
}

