.signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup .title {
    margin: 2.5% 0 5% 0;
    font-size: 2rem;
    color: white;
}
.signup .decoration {
    position: absolute;
    width: 30%;
    height: 15%;
    right: 0;
    bottom: 0;
    display: none;
}

@media(max-width: 700px) {
    .signup .title {
        margin: 5% 0 7.5% 0;
    }
    /* .signup .decoration {
        display: inline;
    } */
}