.signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup .title {
    margin: 2.5% 0 5% 0;
    font-size: 2rem;
    color: white;
}
.signup .decoration {
    position: absolute;
    width: 30%;
    height: 15%;
    right: 0;
    bottom: 0;
    display: none;
}

.signup .womanlogo {
    width: 15%;
    height: 12.5%;
    margin-top: 2%;
}

@media(max-width: 700px) {
    .signup .title {
        margin: 5% 0 7.5% 0;
    }
    /* .signup .decoration {
        display: inline;
    } */
    .signup .womanlogo {
        width: 30%;
        height: 25%;
        margin-top: 23%;
    }
}