.navBar {
    width: 52.5%;
    margin: 0 auto;
    margin-top: 1%;
}

.logoContainer {
    width: 20%;
    height: 100%;
}

.logoImg {
    width: 100%;
    height: 100%;
}

@media (max-width: 1250px) {
    .navBar {
        width: 95%;
    }
    .logoContainer {
        width: 30%;
    }
}